node_modules/
.env
playwright-report/
test-results/
dist/
*.js
dist/
.cache/
allure-report/
*.log
*.tsbuildinfo
*.tgz
*.zip
node_modules/
*.tgz
.docs

# 민감한 파일
auth.json
allure-results/
